# # Delphi compiler-generated binaries (safe to delete)
*.exe
*.dcu
# *.dll
# *.bpl
# *.bpi
# *.dcp
# *.so
# *.apk
# *.drc
# *.map
# *.dres
# *.rsm
# *.tds
# *.lib
# *.a
# *.o
# *.ocx

# # Delphi local files (user-specific info)
# *.local
# *.identcache
# *.projdata
# *.tvsconfig
# *.dsk

# # Delphi history and backups
__history/
__recovery/
*.~*